.centered {
    height: 20%;
    justify-content: center;
    position: fixed;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px auto;
    left: 0;
    right: 0;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    background-color: white;  /* Changed from rgba to solid white */
    width: 2em;
    height: 2em;
    border-radius: 100%;
    font-size: 2em;
    color: white;
    outline: none;
}

button[data-action="change"] {
    background-color: white;  /* Ensure the button is solid white */
    color: transparent;       /* Make text inside button transparent */
}

.instructions {
    position: fixed;
    top: 5%;
    font-size: 1.25em;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    z-index: 999999;
}

/* New styles for the back button */
#backButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 93px;
    height: 44px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 11; /* Ensure the button is always on top */
    background: url("../assets/Back-button.svg") no-repeat center center;
    background-size: contain;
    background-color: transparent;
}
